body {
  font-family: arial, sans-serif;
}

h1 {
  font-family: "Cherry Swash", cursive;
  color: #a97c73;
}

.overview h2 {
  font-family: "Cherry Swash", cursive;
  color: #a97c73;
  font-size: 30px;
  font-weight: 900;
  line-height: 28px;
  margin-bottom: 0;
}

li {
  font-family: "Cherry Swash", cursive;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #c6ad94;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

ul {
  font-family: "Cherry Swash", cursive;
  margin: 0;
  padding: 0;
}

.button {
  background: #b0c592;
  border-radius: 5px;
  border-color: #b0c592;
  width: 100px;
  height: 40px;
}

.weather-app {
  font-family: "Cherry Swash", cursive;
  color: #c6ad94;
  padding: 50px;
  border: 2px solid #a97c73;
  border-radius: 20px;
  background: linear-gradient(#e6f5e7, #f3e6e6);
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 5px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
}

.weather-temperature .active {
  color: rgb(135, 135, 135);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #a97c73;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.temp-min {
  opacity: 0.6;
}

.source-code {
  text-align: center;
  font-family: "Cherry Swash", cursive;
  color: #a97c73;
  font-size: 10px;
}

.link-type {
  color: #c6ad94;
}
